.main {
  position: relative;
}
#main-1 {
  text-align: center;
  padding: 20% 0;
}
#main-1 h1 {
  font-weight: bold;
  font-size: 4em;
  margin-top: 0;
}
#main-1 p {
  font-size: 1.5em;
  margin-bottom: 0;
  color: #555;
}
#main-1 button {
  font-size: 1.5em;
  margin-top: 20px;
  padding: 10px 20px;
}
#main-2 {
  background-color: #f7f7f7;
  padding: 15% 0;
}
.main .main-features {
  display: flex;
  gap: 40px;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 200px;
  text-align: center;
  align-items: center;
}
.main-features img {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.main-features h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
}
.main-features p {
  font-size: 1.2em;
  color: #555;
}
