#header-frame {
  display: flex;
  justify-content: space-between; /* 요소들을 양 끝에 배치 */
  align-items: center;
  padding: 10px;
  background-color: #f4f7f9;
  height: 60px;
  border-top: #e3e8ec solid 1px;
  border-bottom: #e3e8ec solid 1px;
}

#home-link {
  display: flex;
  align-items: center; /* 로고와 텍스트를 수직 정렬 */
}

.icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #e3e8ec;
  border-radius: 8px;
  background-color: #f4f7f9;
  cursor: pointer;
}

.button {
  padding: 9px 9px;
  margin-top: 12px;
  margin-left: 10px;
  background-color: #f4f7f9;
  border: 1px solid #e3e8ec;
  border-radius: 4px;
  cursor: pointer;
  color: #000000;
}

.button:hover {
  background-color: #e7ebee;
}

.user-info {
  margin: 10px;
  font-weight: bold;
  color: #000000;
}

#goodong-logo {
  margin-left: 15px;
  width: 39px;
  height: 39px;
}

#goodong-logo-letter {
  font-size: 14px;
  margin-left: 13px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

#home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#left-section {
  display: flex;
  align-items: center;
}

#right-section {
  display: flex;
  align-items: center;
}

.profile-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* 동그란 모양을 만듦 */
  border: 2px solid #e3e8ec; /* 테두리 추가 */
  object-fit: cover; /* 이미지를 동그라미 안에 맞춤 */
  margin-bottom: 5px;
  margin-left: 10px;
}
/* 검색바 컨테이너 */
.search-bar-container {
  position: relative;
  display: inline-flex; /* 한 줄에 요소들이 배치되도록 설정 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 380px;
}

/* 돋보기 아이콘 */
.search-icon {
  position: relative;
  left: 27px;
  bottom: 2px;
  z-index: 2;
  color: #999;
  pointer-events: none; /* 클릭할 수 없도록 설정 */
}

/* 검색바 */
.search-bar-container .search-bar {
  width: 100%;
  padding-left: 35px; /* 아이콘 공간을 확보하기 위해 패딩 추가 */
  height: 36px;
  border: 1px solid #e3e8ec;
  border-radius: 8px;
  margin-bottom: 5px; /* 기본 margin-bottom 제거 */
  display: inline-block; /* 한 줄에 배치 */
}

.search-bar:focus {
  outline: none;
  border-color: #999; /* 포커스 시 테두리 색상 변경 */
}
