.repo-list {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  gap: 40px;
}

.repo-right {
  flex: 1;
  overflow: hidden;
}

.divider {
  margin: 20px 0;
  border-bottom: 1px solid #e1e4e8;
}
.repo-header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.btn-create {
  display: inline-block;
  background-color: #2ea44f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.btn-create:hover {
  background-color: #22863a;
}

.contributions {
  margin-top: 40px;
}
.contributions h5 {
  font-size: 16px;
  font-weight: 500;
}
.contributions .contribution-box {
  /* border: 1px solid #e1e4e8;
  border-radius: 10px;
  padding: 20px 0; */
}
.contributions ._calendar_1dwvo_19 {
  padding: 0 !important;
}
