.repo-list {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  gap: 40px;
}
.repo-left {
  width: 200px;
}
.repo-left .repo-left-item {
  margin-bottom: 20px;
}
.repo-left-item-link {
  font-size: 14px;
  cursor: pointer;
}
.repo-left-item-link:hover {
  text-decoration: underline;
}
.repo-left img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #e1e4e8;
}
.repo-left button {
  width: 100%;
}
.repo-right {
  flex: 1;
}

.divider {
  margin: 20px 0;
  border-bottom: 1px solid #e1e4e8;
}
.repo-header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.btn-create {
  display: inline-block;
  background-color: #2ea44f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.btn-create:hover {
  background-color: #22863a;
}
